.font-weight-400{
  font-weight: 400;
}
*{
  font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}
.w-40p{
  width:40% !important;
}
.MuiTabs-flexContainer{
  justify-content: center;
}
.MuiTabs-fixed {
  margin: auto;
}
.drop-message {
  text-align: center;
  color: #4aa1f3;
  font-size: 14px;
  cursor: pointer;
}
.upload-icon {
  width: 100px;
  height: 100px;
  background: url(../assets/images/upload_icon.jpg) no-repeat 50%;
  background-size: 100%;
  text-align: center;
  margin: 0 auto;
  padding-top: 30px;
}
.file-input {
  display: none;
}
.overflowVisible .MuiCard-root{
  overflow: visible !important;
}
.customTab .MuiButtonGroup-groupedHorizontal:not(:first-child) {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.customTab .MuiButtonGroup-groupedHorizontal:not(:last-child) {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.customTab .card-header {
  background-color: #ffffff !important;
  border: 1px solid #1976d2 !important;
  border-radius: 3px;
}
.font-18{
  font-size: 18px !important;
}
.bgColor .MuiDialog-paper .customCard{
  background-color: #eeeeee;
  box-shadow: none;
}
.bgColor .MuiDialog-paper, .app-header-drawer.bgColor {
  background-color: #eeeeee;
}

.pt-74{
  padding-top: 74px;
}
.pt-100{
  padding-top: 100px;
}
.pt-40{
  padding-top: 40px;
}
body{
  background-color: #eeeeee;
}
.ReactTable{
  width:100%;
}
.customNoData .ReactTable .MuiFormControlLabel-root{
  margin-left: 0;
  margin-right: 0;
}
.customStyle .MuiFormControlLabel-root{
  margin-bottom: 0;
}
.customNoData .ReactTable .rt-th, .ReactTable .rt-td{
  margin: auto;
}
.customNoData .ReactTable .rt-td.center{
  text-align: center;
}
.suggestions li {
  border-bottom: 1px solid #ddd;
  padding: 5px 10px;
  cursor: pointer;
  margin: 0;
}
.customNoData .ReactTable .rt-thead .rt-th {
  font-weight: 500 !important;
  font-size: 0.9rem !important;
}
.m-auto{
  margin:auto !important;
}
.display-4{
  font-size: 1.1rem;
}
 .successBtnOutline {
  border: 1px solid #4caf50 !important;
  color: #4caf50 !important;
  border-radius: 4px;
  font-weight: 500;
}
.successBtnContained {
  border: 1px solid #4caf50 !important;
  color: #ffffff !important;
  border-radius: 4px;
  background-color: #4caf50;
  font-weight: 500;
}
.successBtnContained:hover {
  border: 1px solid #4caf50 !important;
  color: #ffffff !important;
  border-radius: 4px;
  background-color: #4caf50;
  font-weight: 500;
}
.dangerBtnOutline {
  border: 1px solid #dc3545 !important;
  color: #dc3545 !important;
  border-radius: 4px;
  font-weight: 500;
}
.dangerBtnOutline:hover {
  border: 1px solid #e02d3f !important;
  color: #dc3545 !important;
  background-color: #fcebed !important;
  border-radius: 4px;
  font-weight: 500;
}
.warningBtnOutline{
  color: #ffc107 !important;
  font-weight: 500;
  border-radius: 4px;
  border:1px solid #ffc107 !important;
}
.warningBtnOutline:hover{
  background-color: #ffc1071c !important;
  font-weight: 500;
  border-radius: 4px;
  border: 1px solid #ffc107 !important;
}
.warningBtnContained{
  color: #000000 !important;
  background-color: #ffc107 !important;
  font-weight: 500;
  border-radius: 4px;
  border:1px solid #ffc107 !important;
}
.warningBtnContained:hover{
  color: #000000 !important;
  background-color: #ffc107 !important;
  font-weight: 500;
  border-radius: 4px;
  border: 1px solid #ffc107 !important;
}
.MuiOutlinedInput-input, .MuiOutlinedInput-multiline {
  padding: 10px !important;
  // text-transform: capitalize !important;
}
.customPadding .MuiOutlinedInput-input{
  padding: 14px !important;
}
.MuiOutlinedInput-multiline {
  padding: 5px !important;
  // text-transform: capitalize !important;
}
.MuiOutlinedInput-adornedEnd{
  padding-right: 0 !important;
}

.MuiOutlinedInput-root{
  border-radius:  0.2rem !important;
}
.MuiInputLabel-outlined {
  z-index: 1;
  transform: translate(20px, 12px) scale(1) !important;
  pointer-events: none;
}
.MuiInputLabel-outlined.MuiInputLabel-shrink {
  transform: translate(14px, -6px) scale(0.75) !important;
}
.successBtnOutline:hover{
  background: #4caf5014 !important;
  border:1px solid #4caf50 !important;
  border-radius: 4px;
  font-weight: 500;
}

.outlinedInput .MuiInputLabel-outlined {
  top:-5px
}

.pickerGrid .MuiAvatar-root {
    width: 38px !important;
    height: 38px !important;
    border: 1px solid #3f51b5;
    color: #3f51b5;
    cursor: pointer;
    background: transparent !important;
}
.MuiFormControl-marginNormal{
  margin-top: 8px !important;
}
.dobGrid .MuiFormControl-marginNormal{
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.align-center {
  align-items: center;
}
.card-box {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14) !important;
}
.fileinput {
  display: inline-block;
  margin-bottom: 9px;
}
.fileinput input[type="file"] {
  display: none;
}

.customNoData .ReactTable .-pagination .-pageJump input, .customNoData .ReactTable .rt-thead.-filters input {
  text-align: center;
  float: none;
  box-shadow: none;
  border-radius: 0;
  font-weight: 400;
  border: none;
  width: 100%;
  height: 36px;
  padding: 7px 0;
  font-size: 14px;
  line-height: 1.428571429;
  display: block;
  color: #555;
}
.customNoData .ReactTable .rt-thead.-header{
  box-shadow: none;
}
.customNoData .ReactTable .rt-thead.-filters .rt-th{
  padding: 2px 5px;
}
.MuiInput-underline:before{
  border-bottom: 2px solid #ddd;
}
.card-box .card-header {
 border: none;
}
.customNoData .ReactTable .rt-thead .rt-th.-sort-asc, .ReactTable .rt-thead .rt-td.-sort-asc{
  box-shadow: none;
}
.customNoData .ReactTable .rt-thead.-filters input, .ReactTable .rt-thead.-filters select{
  background: transparent;
}

.customNoData .ReactTable .rt-noData {
  display: block;
  text-align: center;
  position: relative;
  left: auto;
  right: auto;
  transform: none;
  background: #ffffff;
  transition: all .3s ease;
  z-index: 1;
  pointer-events: none;
  padding: 20px;
  color: #dddddd;
}
.activeSidebarColor{
  background-color: #dddddd;
}

// autocomple css 

.searchDiv:hover{
  box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
  border:1px solid #fff !important;
}
.searchDiv.SearchFocus{
  box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
  border:1px solid #fff !important;
}
.searchDiv{
  background: #fff;
  display: flex;
  width: 100%;
  border:1px solid #dfe1e5;
  border-top-left-radius: 24px;
  z-index: 3;
  height: 44px;
  border-top-right-radius: 24px;
  margin: 0 auto;
}
.searchStep1{
  flex: 1;
  display: flex;
  padding: 5px 8px 0 16px;
  padding-left: 14px;
}
.searchIconDIv{
  display: flex;
  align-items: center;
  padding-right: 13px;
  margin-top: -5px;
}
.searchIconDivChild{
  margin: auto;
}
.searchIconSpan{
  color: #9aa0a6;
  height: 20px;
  width: 20px;
  display: inline-block;
  fill: currentColor;
  position: relative;
}
.searchIconSpan .MuiSvgIcon-root{
  font-size: 1.2rem;
}
.searchInputDiv{
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}
.searchInput{
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  color: rgba(0,0,0,.87);
  word-wrap: break-word;
  outline: none;
  display: flex;
  flex: 100%;
  -webkit-tap-highlight-color: transparent;
  height: 34px;
  font-size: 16px;
  font: 16px arial,sans-serif;
  line-height: 34px;
  height: 34px !important;
}
.searchMicDiv{
  display: flex;
  flex: 0 0 auto;
  margin-top: -5px;
  align-items: stretch;
  flex-direction: row;
}
.searchMicInnerDiv{
  flex: 1 0 auto;
  display: flex;
  cursor: pointer;
  align-items: center;
  border: 0;
  background: transparent;
  outline: none;
  padding: 0 8px;
  width: 24px;
  line-height: 44px;
}
.searchResultsDiv{
  width: 100%;
  text-align: left;  
  margin-top: -1px;
  margin: 0 auto;
  position: relative;
  z-index: 10;
  cursor: default;
}
.searchResultsInnerDiv{
  background: #fff;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  position: absolute;
  width: 100%;
  padding: 0;
  box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
  border: 0;
  border-radius: 0 0 24px 24px;
  box-shadow: 0 4px 6px 0 rgba(32,33,36,0.28);
  padding-bottom: 4px;
  overflow: hidden;
}
.xtSCL {
  border-top: 1px solid #e8eaed;
  margin: 0 20px 0 14px;
  padding-bottom: 4px;
}
.searchResultsList{
  flex: auto;
  padding-bottom: 8px;
  padding-left: 0;
}
.searchResultsList li {
  display: flex;
  align-items: center;
  min-width: 0;
  padding: 0;
}
.searchListContainer{
  flex: auto;
  display: flex;
  margin: 0 20px;
  align-items: center;
  margin: 0 20px 0 14px;
}
.searchImageDiv{
  margin: 4px 7px 4px -5px;
  border-radius: 4px;
  min-height: 32px;
  min-width: 32px;
  background: center/contain no-repeat;
}
.searchOptionDiv{
  display: flex;
  flex: auto;
  flex-direction: column;
  min-width: 0;
  padding: 6px 0;
}
.sbre .sbl1 {
  line-height: 18px;
}
.sbl1 {
  display: flex;
  font-size: 16px;
  color: #212121;
  flex: auto;
  align-items: center;
  word-break: break-word;
  padding-right: 8px;
}
.sbl1>span {
  flex: auto;
}
.sbl2 {
  line-height: 12px;
  font-size: 13px;
  color: #80868b;
  margin-top: 2px;
}
.searchResultsList li.option-active {
  background-color: #eeeeee;
}

.sbre:hover {
  background-color: #eeeeee;
}
.Modal30{
  width:calc(100% * 0.3) !important;
}
.m-20{
  margin:20px;
}
.activeCard{
  background: #ffffff !important;
}
.InactiveCard{
  background:transparent !important;
}
.backgroundTransparent:hover {
  background: #ffffff !important;
}
.cardBackgroundTransparent:hover {
  background: transparent !important;
}
ol, ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 0 !important;
  margin: 0;
}
.customDiv .MuiPaper-root li {
  display: inline-flex;
}
.customDiv .MuiPaper-root{
  box-shadow: none !important;
}
.editorClassName{
    border: 1px solid #f1f1f1 !important;
    padding: 5px !important;
    border-radius: 2px !important;
    height: 80% !important;
    margin-left: 5px;
  margin-right: 5px;
}
.toolbarClassName{
  margin-left: 5px;
  margin-right: 5px;
}
.rt-th input::-webkit-input-placeholder {
  font-size: 12px;
}
.rt-th input:-moz-placeholder {
    font-size: 12px;
}
.rt-th input::-moz-placeholder {
    font-size: 12px;
}
.rt-th input:-ms-input-placeholder {
    font-size: 12px;
}
.MuiButton-outlined{
  font-weight: 500 !important;
  font-size: 0.875rem  !important;
  border-radius: 4px !important;
}

.SectionGrid .card-body-avatar {
  position: relative;
  padding-top: calc(1.25rem + 40px);
}
.SectionGrid .MuiCard-root {
  overflow: visible !important;
}
.SectionGrid .card-body-avatar > .avatar-icon-wrapper {
  height: auto;
  width: 100px;
  top: -20px;
  margin-left: -50px;
  z-index: 3;
}
.MuiInputBase-root.Mui-disabled {
  color: #000 !important;
}
.p-12{
  padding: 12px;
}
.d-flex{
  display: flex;;
}
.display-4{
  font-size: 2rem;
}
.inputTag .MuiInputBase-root {
  padding-top: 0;
}
.customChip .MuiChip-root{
  margin:10px;
  padding:2px;
  color: #3f51b5;
  border: 1px solid #3f51b5;
}
.customChip .MuiChip-deleteIcon {
  color: rgba(63, 81, 181, 0.7);
}
.cursor{
  cursor: pointer;
}
.ReactTable .rt-tbody .rt-td{
  text-align: center;
}
.denomTable .MuiTableCell-root{
  padding: 0 !important;
}
.inputPadding input{
  padding: 15px !important;
}
.margin-auto{
  margin:auto;
}
.cursor-pointer{
  cursor: pointer;
}
.studentSearch .searchResultsInnerDiv{
  position:relative !important;
}
.orangeAvatar{
  margin-right: 10px;
  width:30px;
  height:30px;
  color: '#fff';
  background-color: #ff5722;
}
.purpleAvatar {
  margin-right: 10px;
  width:30px;
  height:30px;
  color: '#fff';
  background-color: #673ab7;
}
.pinkAvatar {
  margin-right: 10px;
  width:30px;
  height:30px;
  color: '#fff';
  background-color: #e91e63;
}
.display-14r{
  font-size:1.2rem;
}
.invoice-box {
  max-width: 800px;
  margin: auto;
  padding: 30px;
  border: 1px solid #eee;
  font-size: 16px;
  line-height: 24px;
  font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
  color: #555;
}
.invoice-box table {
  width: 100%;
  line-height: inherit;
  text-align: left;
}
.invoice-box table td {
  padding: 5px;
  vertical-align: top;
}
.invoice-box table tr.information table td {
  padding-bottom: 0px;
}
.invoice-box table tr.heading td {
  background: #eee;
  border-bottom: 1px solid #ddd;
  font-weight: bold;
}
.invoice-box table td {
  padding: 5px;
  vertical-align: top;
}
.invoice-box table tr.item td {
  border-bottom: 1px solid #eee;
}
.invoice-box table tr td:nth-child(2), .invoice-box table tr td:nth-child(3), .invoice-box table tr td:nth-child(4) {
  text-align: right;
}
.invoice-box table td {
  padding: 5px;
  vertical-align: top;
  font-size: 14px;
}

.react-tags {
  position: relative;
  padding: 6px 0 0 6px;
  border: 1px solid #D1D1D1;
  border-radius: 1px;

  /* shared font styles */
  font-size: 1em;
  line-height: 1.2;

  /* clicking anywhere will focus the input */
  cursor: text;
}

.react-tags.is-focused {
  border-color: #B1B1B1;
}

.react-tags__selected {
  display: inline;
}

.react-tags__selected-tag {
  display: inline-block;
  box-sizing: border-box;
  margin: 0 6px 6px 0;
  padding: 6px 8px;
  border: 1px solid #D1D1D1;
  border-radius: 2px;
  background: #F1F1F1;

  /* match the font styles */
  font-size: inherit;
  line-height: inherit;
}

.react-tags__selected-tag:after {
  content: '\2715';
  color: #AAA;
  margin-left: 8px;
}

.react-tags__selected-tag:hover,
.react-tags__selected-tag:focus {
  border-color: #B1B1B1;
}

.react-tags__search {
  display: inline-block;

  /* match tag layout */
  padding: 7px 2px;
  margin-bottom: 6px;

  /* prevent autoresize overflowing the container */
  max-width: 100%;
}

@media screen and (min-width: 30em) {

  .react-tags__search {
    /* this will become the offsetParent for suggestions */
    position: relative;
  }

}

.react-tags__search-input {
  /* prevent autoresize overflowing the container */
  max-width: 100%;

  /* remove styles and layout from this element */
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;

  /* match the font styles */
  font-size: inherit;
  line-height: inherit;
}

.react-tags__search-input::-ms-clear {
  display: none;
}

.react-tags__suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
}

@media screen and (min-width: 30em) {

  .react-tags__suggestions {
    width: 240px;
  }

}

.react-tags__suggestions ul {
  margin: 4px -1px;
  padding: 0;
  list-style: none;
  background: white;
  border: 1px solid #D1D1D1;
  border-radius: 2px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.react-tags__suggestions li {
  border-bottom: 1px solid #ddd;
  padding: 6px 8px;
}

.react-tags__suggestions li mark {
  text-decoration: underline;
  background: none;
  font-weight: 600;
}

.react-tags__suggestions li:hover {
  cursor: pointer;
  background: #eee;
}

.react-tags__suggestions li.is-active {
  background: #b7cfe0;
}

.react-tags__suggestions li.is-disabled {
  opacity: 0.5;
  cursor: auto;
}

.sliderDiv{
  width: 100% !important;
  //margin:0px !important;
}
.autocompleteDiv .MuiFormControl-root{
  width: 100%;
}
.gridBorderGrading {
  border-bottom: 1px solid #dddddd;
}
.MuiSelect-selectMenu{
  text-align: left;
}

//TC Design

.tc-main{
  padding:10px; text-align:center; border: 3px solid #787878;
}
.tc-main1{
  padding:20px; text-align:center; border: 3px solid #787878;
}
.tc-title{
  font-size:20px; font-weight:bold;text-transform: uppercase;text-decoration: underline;
}
.tc-table{
  margin-top:5px;border-collapse: collapse;
}
.tc-td{
  text-align:center;border-left: 1px solid black;border-top: 1px solid black;border-right: 1px solid black;font-size:13px;padding-top:10px;font-style:Arial;
}
.tc-td1{
  border-left: 1px solid black;border-top: 1px solid black;border-right: 1px solid black;font-size:13px;padding-left:10px;padding-top:10px;font-style:Arial;
}
.tc-td2{
  border-left: 1px solid black;border-top: 1px solid black;border-right: 1px solid black;font-size:13px;padding-left:10px;padding-top:10px;font-style:Arial;
}
.tc-td-last{
  text-align:center;border-left: 1px solid black;border-top: 1px solid black;border-bottom: 1px solid black;border-right: 1px solid black;font-size:13px;padding-top:10px;font-style:Arial;
}
.tc-td1-last{
  border-left: 1px solid black;border-top: 1px solid black;border-bottom: 1px solid black;border-right: 1px solid black;font-size:13px;padding-left:10px;padding-top:10px;font-style:Arial;
}
.tc-td2-last{
  border-left: 1px solid black;border-top: 1px solid black;border-bottom: 1px solid black;border-right: 1px solid black;font-size:13px;padding-left:10px;padding-top:10px;font-style:Arial;
}
.tc-signature{
  font-size:18px;text-align:right;padding-right:25px;
}

//Study Certificate Design
.study-main .MuiInputBase-input{
  padding: 0;
}
.study-main{
  padding:10px; text-align:center; border: 3px solid #787878;
}
.study-main1{
  padding:20px; text-align:center; border: 3px solid #787878;
}
.study-ref {
  font-size:15px;text-align: left;
}
.study-heading{
  font-size:20px; font-weight:bold;text-transform: uppercase;text-decoration: underline;
}
.MuiInputBase-input.MuiOutlinedInput-input.MuiInputBase-inputAdornedStart.MuiOutlinedInput-inputAdornedStart{
  width: 0px;
  padding-right: 0 !important;
}
body .active-item .app-sidebar-icon {
  color: #f2f4f8 !important;
}
body .active-item , body .active-item:hover {
  color: #f2f4f8 !important;
  background: #3d4977d9 !important;
  font-weight: 500;
}

body .app-sidebar-item {
  padding: 2px 1rem 5px 0 !important;
}
.card_footer_border{
  border-top: 1px solid rgba(122, 123, 151, 0.3)!important;
}

.card_auto_width{
  width: 60%!important;
  left: 35%!important;
}

.customNavBtn { 
  border: 1px solid #34363d !important;
  box-shadow: none !important;
  text-align: center;
  color: #3d4977!important ;  
}
.autocompleteDiv .MuiFormLabel-root{
  line-height: 2!important;
}